/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* CORES */
body {
    background: #f5f6fa;
    color: #333;
}

/* CABEÇALHO */
header {
    background: #6c63ff;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    font-size: 1.9rem;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.8;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARD */
.card {
    background: white;
    width: 300px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #0001;
    transition: .3s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px #0002;
}

/* VÍDEO */
.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 10px;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card h3 {
    margin-top: 10px;
    font-size: 1.1rem;
}

.card p {
    font-size: 0.9rem;
    margin-top: 5px;
}

/* RODAPÉ */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #6c63ff;
    color: white;
}
